@mixin reset{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





@mixin responsive($size){
    @if($size == mob){
        @media (max-width: 480px){
            @content;
        }
    }
    @else if($size == tab){
        @media (min-width: 480px) and (max-width: 720px){
            @content;
        }
    }
}